<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="teko">Logic quiz</h1>
        <h2 class="teko">17 February Morning</h2>
        <p>The admission test <b>will take place simultaneously</b> at each site on February 17, 2020, and it is reserved to participants who did a good job at the pre-test. For information about hours/logistics, please refer to the the university of your choice at <a href="https://cyberchallenge.it/venues">venues page</a>.</p>
        <p>The admission test is split in two parts. In the morning, in phase 1, you will encounter an <b>online quiz</b> (60 mins), similar to the one of the pre-test.</p>
        <h2 class="teko">Train with previous logic quizzes</h2>
        <h3 class="teko">2017 Logic quiz</h3>
        <ul>
          <li><a href="https://forms.gle/UDbZtdUpknyAQciz5">Quiz A</a></li>
          <li><a href="https://forms.gle/6UUGh9EW9N8vQtrU7">Quiz B</a></li>
        </ul>
        <h3 class="teko">2018 Logic quiz</h3>
        <ul>
          <li><a href="https://forms.gle/Az61X6tnqMzGDYBF7">Quiz A</a></li>
          <li><a href="https://forms.gle/zhfvtNivDCYU87K17">Quiz B</a></li>
          <li><a href="https://forms.gle/6vnjDFffZ4F5Fmo67">Quiz C</a></li>
        </ul>
        <h3 class="teko">2019 Logic quiz</h3>
        <ul>
          <li><a href="https://forms.gle/Nm3TicYqQ77ZX3ZHA">Quiz A</a></li>
          <li><a href="https://forms.gle/ofj9dBQcqNAFqpnq9">Quiz B</a></li>
          <li><a href="https://forms.gle/p3JJkpBTkdAXQNGXA">Quiz C</a></li>
        </ul>
      </div>
    </div>
</div>
