<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="teko">Logic Quiz</h1>
        <h2 class="teko">17 February Morning</h2>
        <p>The admission phase <b>takes place simultaneously</b> in all the universities involved in CyberChallenge.IT and it is organized in <b>two steps</b>.</p>
        <p>In the <b>morning</b> you will encounter an <b>online quiz</b> similar to the one of the pre-test. Each university will provide information on the time / lab where the quiz will take place, please check the detail of the university of your choice at <a href="https://cyberchallenge.it/venues">venues page</a>.</p>
        <h3>2017 Logic Quiz</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2018 Logic Quiz</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2019 Logic Quiz</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2020 Example Logic Quiz</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
        </ul>
      </div>
    </div>
</div>
