<div class="container py-7">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <h1 class="text-center text-red">Logic quiz</h1>
      <h3 class="text-center text-blue mt-1">2 February Morning</h3>

      <div class="mt-3"><u>Given the current health situation, the information here written is provisional and may be
          subject to change</u></div>

      <div class="mt-3">The admission test <b>will take place simultaneously</b> at each site on February 2, 2021, and
        it is reserved to participants who did a good job at the pre-test. For information about hours/logistics, please
        refer to the the university of your choice at <a href="https://cyberchallenge.it/venues">venues page</a>.</div>

      <div class="mt-3">The admission test is split in two parts. In the morning, in phase 1, you will encounter an
        <b>online quiz</b> (60 mins), similar to the one of the pre-test.</div>

      <div class="mt-3">From 2020, knowledge of C programming (pointer arithmetic in particular) is <b>not required
          anymore</b>. Questions about C programming will be replaced by basic programming comprehension in pseudocode.
      </div>

      <h3 class="text-center text-blue mt-5">Train with previous logic quizzes</h3>

      <div class="list-group mt-3 w-50 mx-auto">
        <a class="list-group-item list-group-item-action" href="https://forms.gle/UDbZtdUpknyAQciz5">2017 Quiz A</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/6UUGh9EW9N8vQtrU7">2017 Quiz B</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/Az61X6tnqMzGDYBF7">2018 Quiz A</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/zhfvtNivDCYU87K17">2018 Quiz B</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/6vnjDFffZ4F5Fmo67">2018 Quiz C</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/Nm3TicYqQ77ZX3ZHA">2019 Quiz A</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/ofj9dBQcqNAFqpnq9">2019 Quiz B</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/p3JJkpBTkdAXQNGXA">2019 Quiz C</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/wYD1irhVoCTgYRFE9">2020 Quiz</a>
      </div>

    </div>
  </div>
</div>