<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="teko">Pre-test</h1>
        <h2 class="teko">22-24 January</h2>
        <p>We are looking for students with <b>excellent logical, problem-solving, and programming skills</b>; no previous knowledge on cybersecurity topics is required.</p>
        <p>You can check your preparation with the <b>online pre-test</b> which will be <b>open for two days</b>. You can start the pre-test at <b>any time</b> from January 22 through January 24, 2020.</p>
        <h2 class="teko">Train with previous pre-tests</h2>
        <h3 class="teko">2017 Pre-test</h3>
        <ul>
          <li><a href="https://forms.gle/RxyP9ZYjtwwhDMMb9">Quiz</a></li>
        </ul>
        <h3 class="teko">2018 Pre-test</h3>
        <ul>
          <li><a href="https://forms.gle/soFcyPPMo7vmEae99">Quiz</a></li>
        </ul>
        <h3 class="teko">2019 Pre-test</h3>
        <ul>
          <li><a href="https://forms.gle/UDbCJhHNQJid6LRs7">Quiz</a></li>
        </ul>
      </div>
    </div>
</div>
