<div class="container py-7">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1 class="text-center text-red">Pre-test</h1>
      <h3 class="text-center text-blue mt-1">22 - 24 January</h3>

      <div class="mt-3"><u>Given the current health situation, the information here written is provisional and may be
          subject to change</u></div>

      <div class="mt-3">We are looking for students with <b>excellent logical, problem-solving, and programming
          skills</b>; no previous knowledge on cybersecurity topics is required.</div>

      <div class="mt-3">You can check your preparation with the <b>online pre-test</b> which will be <b>open for three days</b>. You
        can start the pre-test at <b>any time</b> from January 22 through January 24, 2021.</div>

      <div class="mt-3">Starting from 2020, knowledge of C programming (pointer arithmetic in particular) is <b>not required
          anymore</b>. Questions about C programming will be replaced by basic programming comprehension in pseudocode.
      </div>

      <h3 class="text-center text-blue mt-5">Train with previous pre-tests</h3>

      <div class="list-group mt-3 w-50 mx-auto">
        <a class="list-group-item list-group-item-action" href="https://forms.gle/RxyP9ZYjtwwhDMMb9">2017 Pre-test</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/soFcyPPMo7vmEae99">2018 Pre-test</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/UDbCJhHNQJid6LRs7">2019 Pre-test</a>
        <a class="list-group-item list-group-item-action" href="https://forms.gle/4bea6LpHgzoTUh7d8">2020 Pre-test</a>
      </div>

    </div>
  </div>
</div>