<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="teko">Online Pre-Test</h1>
        <h2 class="teko">22-24 January</h2>
        <p>The admission test will select students with excellent logical, problem-solving, and programming skills; no previous knowledge on cybersecurity issues is required.</p>
        <p>You can check your preparation with the <b>online pre-test</b> which will be <b>open for two days</b>. You can start the pre-test at <b>any time</b> between the 22 and the 24 of January.</p>
        <h3>2017 Pre-Test</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2018 Pre-Test</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2019 Pre-Test</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
          <li><a href="#">Quiz B</a></li>
          <li><a href="#">Quiz C</a></li>
        </ul>
        <h3>2020 Example Pre-Test</h3>
        <ul>
          <li><a href="#">Quiz A</a></li>
        </ul>
      </div>
    </div>
</div>
