<div class="container">

  <div class="row container">
    <h1 class="teko">Programming test</h1>
    <h2 class="teko">17 February - Afternoon</h2>
    <p>Phase 2, in the afternoon, is the <b>programming phase</b> and it will last for 3 hours. It is reserved for the participants who did the best job in the morning. The short list of students admitted to phase 2 will be announced in the early afternoon. </p>
    <p>By combining the results of the two phases we will define the final ranking: the <b>top-20 students</b> for each site will be selected to <b>form the team</b> for the edition 2020 of CyberChallenge.IT.</p>
  </div>

  <h2 class="teko">Train with previous programming tests</h2>

  <div class="row container">
    <pagination total-pages="pagination.total" current-page="pagination.current">
    </pagination>
    <span class="label alert-info big-tag" ng-if="search.tag_string">
      <button type="button" class="close" aria-hidden="true" ng-click="search.tag=null;reloadTasks()">&times;</button>
      <i class="fa fa-tag fa-lg"></i>
      {{search.tag_string}}
    </span>
    <form class="search-by-tag form-inline pull-right" role="form" ng-submit="reloadTasks()">
      <div class="form-group">
        <input class="form-control" maxlength="50" autocomplete="off"
            type="text" id="tag" name="tag" ng-model="search.q"
            placeholder="{{'Search by name' | l10n}}"/>
      </div>
      <button type="submit" class="btn btn-info">{{'search' | l10n}}</button>
    </form>
  </div>

  <div ui-view></div>

</div>
