<div class="container">

  <div class="row container">
    <h1 class="teko">Programming Test</h1>
    <p>If you pass the quiz in the morning, you will gain access to the second step: the <b>programming phase</b> that will start in the <b>afternoon</b> and last for <b>3 hours</b>.</p>
    <p>Three exercises will be proposed and you will use this platform to submit your solutions.</p>
    <p>By combining the results of the two steps we will define the final ranking: the <b>top-20 students</b> for each site will be selected to <b>form the team</b> for the edition 2020 of CyberChallenge.IT.</p>
  </div>

  <div class="row container">
    <pagination total-pages="pagination.total" current-page="pagination.current">
    </pagination>
    <span class="label alert-info big-tag" ng-if="search.tag_string">
      <button type="button" class="close" aria-hidden="true" ng-click="search.tag=null;reloadTasks()">&times;</button>
      <i class="fa fa-tag fa-lg"></i>
      {{search.tag_string}}
    </span>
    <form class="search-by-tag form-inline pull-right" role="form" ng-submit="reloadTasks()">
      <div class="form-group">
        <input class="form-control" maxlength="50" autocomplete="off"
            type="text" id="tag" name="tag" ng-model="search.q"
            placeholder="{{'Search by name' | l10n}}"/>
      </div>
      <button type="submit" class="btn btn-info">{{'search' | l10n}}</button>
    </form>
  </div>

  <div ui-view></div>

</div>
