<div>
  <div class="jumbotron" style="margin-top:-20px; background: url(https://cyberchallenge.it/visual_3.25520dc5a92b22357dd3.jpg) center center/cover no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
          <img class="img-fluid" src="https://cyberchallenge.it/assets/loghi/logo-xl.png" style="width: 75%">
        </div>
        <div class="col-sm-12 col-md-6 text-left">
          <div class="home-box">
            <h2 class="teko">We are looking for the next generation of cyberdefenders</h2>
            <p class="home-label">
              &gt; Already enrolled to CyberChallenge.IT 2020?<br>
              &gt; Now you can access to this platform and train for the admission phase!<br>
              &gt; Explore the exercises and submit their solutions to get a feedback!
            </p>
            <p ng-if="!me.isLogged()" class="text-center"><a class="btn btn-primary btn-lg btn-header btn-cc" href="https://cyberchallenge.it/">Registration will start on December 2, 2019</a></p>
            <p ng-if="me.isLogged()" class="text-center"><a class="btn btn-primary btn-lg btn-header btn-cc" href="#">Training now!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row hidden-xs">
      <div class="col-sm-4">
        <h2 class="text-center teko">Pre-test</h2>
        <h4 class="text-center teko">22-24 January</h4>
      </div>
      <div class="col-sm-4">
        <h2 class="text-center teko">Logic quiz</h2>
        <h4 class="text-center teko">17 February - Morning</h4>
      </div>
      <div class="col-sm-4">
        <h2 class="text-center teko">Programming test</h2>
        <h4 class="text-center teko">17 February - Afternoon</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2 class="visible-xs teko">Pre-test</h2>
        <h4 class="visible-xs teko">22-24 January</h4>
        <p>We are looking for students with <b>excellent logical, problem-solving, and programming skills</b>; no previous knowledge on cybersecurity topics is required.</p>
        <p>You can check your preparation with the <b>online pre-test</b> which will be <b>open for two days</b>. You can start the pre-test at <b>any time</b> from January 22 through January 24, 2020.</p>
        <p>Some examples are publicly available for your training.</p>
        <p class="visible-xs"><a href="#/pre-test" class="btn btn-primary btn-lg btn-header btn-cc">See example pre-tests</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs teko">Logic quiz</h2>
        <h4 class="visible-xs teko">17 February - Morning</h4>
        <p>The admission test <b>will take place simultaneously</b> at each site on February 17, 2020, and it is reserved to participants who did a good job at the pre-test. For information about hours/logistics, please refer to the the university of your choice at <a href="https://cyberchallenge.it/venues">venues page</a>.</p>
        <p>The admission test is split in two parts. In the <b>morning</b>, in phase 1, you will encounter an <b>online quiz</b> (60 mins), similar to the one of the pre-test.</p>
        <p>Some examples are publicly available for your training.</p>
        <p class="visible-xs"><a href="#/logic-quiz" class="btn btn-primary btn-lg btn-header btn-cc">See example logic quizzes</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs teko">Programming test</h2>
        <h4 class="visible-xs teko">17 February - Afternoon</h4>
        <p>Phase 2, in the <b>afternoon</b>, is the <b>programming phase</b> and it will last for 3 hours. It is reserved for the participants who did the best job in the morning. The short list of students admitted to phase 2 will be announced in the early afternoon. </p>
        <p>By combining the results of the two phases we will define the final ranking: the <b>top-20 students</b> for each site will be selected to <b>form the team</b> for the edition 2020 of CyberChallenge.IT.</p>
        <p>Texts of the programming exercises are publicly available, but <b>you need to log-in</b> to submit the solutions.</p>
        <p class="visible-xs"><a href="#/tasks/1" class="btn btn-primary btn-lg btn-header btn-cc">See example programming tests</a></p>
      </div>
    </div>

    <div class="row hidden-xs text-center">
      <div class="col-sm-4">
        <p><a href="#/pre-test" class="btn btn-primary btn-lg btn-header btn-cc">See example pre-tests</a></p>
      </div>
      <div class="col-sm-4">
        <p><a href="#/logic-quiz" class="btn btn-primary btn-lg btn-header btn-cc">See example logic quizzes</a></p>
      </div>
      <div class="col-sm-4">
        <p><a href="#/tasks/1" class="btn btn-primary btn-lg btn-header btn-cc">See example programming tests</a></p>
      </div>
    </div>

  </div>


  <br>
</div>

